<h1>Lista de usuarios</h1>
<table>
  <thead>
    <tr>
      <th>Fecha de creación</th>
      <th>Usuario</th>
      <th>Rol</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% User.all.each do |user| %>
      <tr>
      	<td><%= user.created_at%></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
