
<p>
  <strong>Sabor:</strong>
  <%= @brain.flavor %>
</p>

<p>
  <strong>Iq:</strong>
  <%= @brain.iq %>
</p>

<p>
  <strong>Fresco:</strong>
  <%= @brain.fresh %>
</p>

<%= link_to 'Editar', edit_brain_path(@brain) %> |
<%= link_to 'Atras', brains_path %>
