<% if current_admin || current_user.role == 'Contribuidor' || current_user.role == 'Editor' %>

<%= form_for(zombie) do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
 <div class="large-6 column">
     <%= f.label :Nombre %>
     <%= f.text_field :name %>
   </div>
  
 <div class="large-6 column">
     <%= f.label :Biografía %>
     <%= f.text_area :bio %>
   </div>
   
 <div class="large-6 column">
     <%= f.label :Edad %>
     <%= f.number_field :age %>
   </div>

  <div class="large-6 column">
    <%= f.label :Correo %>
    <%= f.text_field :email %>
  </div> 

  <div class="large-6 column">
     <%= f.label :Podrido %>
     <%= f.check_box :rotten %>
</div>

   <div class="large-6 column">
      <%= f.label :Avatar %>
      <%= f.file_field :avatar %>
   </div>
</div>

 <section>
 <div class="large-6 columns">
   <div class="actions">
       <%= f.submit "Guardar", :class => "button success" %>
     </div>
 </div>
</section>

<% end %>

<% else %>
  <% flash[:error] = "No tienes los permisos necesarios" %>
<% end %>
