

<table>
  <tr>
      <th align="center" valign="middle" rowspan="6">
        <strong>Avatar</strong>
        <br>
        <%= image_tag(@zombie.avatar_url, :width=> 300, :height =>300)%>
      </th>
  </tr>

  <tr>
    <th align="center" valign="middle">
        <strong>Nombre:</strong>
        <%= @zombie.name %>
    </th>
  </tr>

  <tr>
    <th align="center" valign="middle">
        <strong>Biografía:</strong>
        <%= @zombie.bio %>
    </th>
  </tr>

  <tr>
    <th align="center" valign="middle">
        <strong>Edad:</strong>
        <%= @zombie.age %>
    </th>
  </tr>

  <tr>
    <th align="center" valign="middle">
        <strong>Email:</strong>
        <%= @zombie.email %>
    </th>
  </tr>

  <tr>
    <th align="center" valign="middle">
        <strong>¿Podrido?:</strong>
        <%= @zombie.rotten ? "Si":"No" %>
    </th>
  </tr>
</table>

<br>
<hr style="border-color:gray;">
<br>

<div id="brains">
  <%= render :partial => @zombie.brains.reverse %>
</div>

<% if current_admin || current_user.role == 'Editor' || current_user.role == 'Contribuidor' %>
<br>
<hr style="border-color:gray">
<br>

<%= form_for([@zombie,Brain.new],remote: true)do |f| %>
  <div class="large-6 column">
    <%= f.label :Sabor %>
    <%= f.text_field :flavor %>
  </div>

  <div class="large-6 column">
    <%= f.label :Iq %>
    <%= f.number_field :iq %>
  </div>

  <div class="large-6 column">
    <%= f.label :Fresco %>
    <%= f.check_box :fresh %>
  </div>

  <div class="actions">
    <div class="large-6 column" align="right">
      <%= f.submit "Agregar cerebro", class: 'button success' %>
    </div>
    
  </div>
<% end %>
<% end %>